In [1]:
import pandas as pd

In [13]:
df_m = pd.read_csv('MATRICULA_CO.CSV', nrows=10000, sep='|')
df_m.head(5)

,ANO_CENSO,PK_COD_MATRICULA,FK_COD_ALUNO,NU_DIA,NU_MES,NU_ANO,NUM_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,...,DESC_CATA_ESCOLA_PRIV,ID_CONVENIADA_PP_ESC,ID_TIPO_CONVENIO_PODER_PUBLICO,ID_MANT_ESCOLA_PRIVADA_EMP,ID_MANT_ESCOLA_PRIVADA_ONG,ID_MANT_ESCOLA_PRIVADA_SIND,ID_MANT_ESCOLA_PRIVADA_S_FINS,ID_DOCUMENTO_REGULAMENTACAO,ID_LOCALIZACAO_DIFERENCIADA,ID_EDUCACAO_INDIGENA
0,2009,272834462,116524527703,20,7,2005,4,M,1,1,...,1.0,0.0,NaN,1,0,0,0,1,0,0
1,2009,272884683,120521377853,13,7,2005,4,M,1,1,...,1.0,0.0,NaN,1,0,0,0,1,0,0
2,2009,272912673,120521845547,20,6,2005,4,F,0,1,...,1.0,0.0,NaN,1,0,0,0,1,0,0
3,2009,272980131,120522762033,13,7,2005,4,M,0,1,...,1.0,0.0,NaN,1,0,0,0,1,0,0
4,2009,272963499,119128562550,14,3,2005,4,F,1,1,...,1.0,0.0,NaN,1,0,0,0,1,0,0

## Features que levam alunos à evadirem

In [14]:
df_m = df_m[['PK_COD_MATRICULA','NUM_IDADE', 'TP_SEXO', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'ID_TIPO_CONVENIO_PODER_PUBLICO', 'ID_EDUCACAO_INDIGENA', 'ID_ZONA_RESIDENCIAL', 'ID_TIPO_NEC_ESP_BAIXA_VISAO']]

df_m.columns = ['matricula', 'idade', 'sexo', 'cor_raca', 'nacionalidade', 'dependencia_adm', 'edu_indigena', 'zona_residencial', 'baixa_visao']

In [17]:
df_m.sexo.unique()

array(['M', 'F'], dtype=object)

In [ ]:
df_m['sexo'].replace({'M':1, })